<nav>
  <div class="nav-toggle"  id="js-navbar-toggle">
    <i class="fas fa-bars"></i>
  </div>
  <ul class="main-nav" id="js-menu">
    <li><a href="#" class="active">Accueil</a></li>
    <li><a href="#">Notre agence</a></li>
    <li><a href="#">Notre flotte</a></li>
    <li><a href="#">Demander un devis</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
<div class="container">
  <div class="hero">

    <div class="content">
      <img src="/assets/images/logo.png" class="logo" />
      <p class="uppercase">ORGANISATION DE VOYAGES POUR AGENCES DE VOYAGE</p>
      <a href="#" class="btn-primary">Demander un devis</a>
    </div>

  </div>

  <main>
    <section>
      <div class="image">
        <img src="/assets/images/eurodisney.png" />
      </div>
      <div class="details">
        <div>
          <h2>Eurodisney</h2>
          <p>Organisez votre voyage sur mesure et dans un confort unique. Nos chauffeurs sont à votre disposition.</p>
          <div class="offer float-left margin-right-15">
            <span class="font-bigger text-color-primary block">35€</span>
            <span class="font-smaller text-color-primary">par personne</span>
          </div>
          <div class="offer">
            <span class="font-bigger text-color-primary block">72</span>
            <span class="font-smaller text-color-primary">passagers minimum</span>
          </div>
          <a href="" class="btn-primary">Personnaliser le voyage</a>
        </div>
      </div>
    </section>
  </main>

  <section class="suggestions">
    <div class="card">
      <div class="card-body" style="background: url('/assets/images/offer.png') no-repeat; background-size: cover; background-position:center;">
        <h3>Pâques à la neige</h3>
      </div>
      <div class="card-footer">
        <div class="background-color-primary text-color-white">
          <span class="font-bigger primary block">35€</span>
          <span class="font-smaller primary">par personne</span>
        </div>
        <div class="background-color-lighter-primary text-color-white">
          <span class="font-bigger primary block">72</span>
          <span class="font-smaller primary">passagers minimum</span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body" style="background: url('/assets/images/offer.png') no-repeat; background-size: cover; background-position:center;">
        <h3>Eté à la montagne</h3>
      </div>
      <div class="card-footer">
        <div class="background-color-primary text-color-white">
          <span class="font-bigger primary block">35€</span>
          <span class="font-smaller primary">par personne</span>
        </div>
        <div class="background-color-lighter-primary text-color-white">
          <span class="font-bigger primary block">72</span>
          <span class="font-smaller primary">passagers minimum</span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body" style="background: url('/assets/images/offer.png') no-repeat; background-size: cover; background-position:center;">
        <h3>Eté à la mer</h3>
      </div>
      <div class="card-footer">
        <div class="background-color-primary text-color-white">
          <span class="font-bigger primary block">35€</span>
          <span class="font-smaller primary">par personne</span>
        </div>
        <div class="background-color-lighter-primary text-color-white">
          <span class="font-bigger primary block">72</span>
          <span class="font-smaller primary">passagers minimum</span>
        </div>
      </div>
    </div>
  </section>

  <footer>
    GO Voyages est le plus grand opérateur privé de Belgique en matière de transport de passagers rémunéré. Vous êtes à
    la recherche d'un autocar moderne pour une visite en Europe, ou vous souhaitez louer un bus pour une excursion
    scolaire ou un voyage à Bruxelles, Bruges, Liège ou toute une autre ville, alors vous êtes sur le bon site. Pour un
    transport en autocar de haute qualité, et bon marché, notre société de location bus est le partenaire idéal.
  </footer>

</div>
