@media all and (max-width: 1024px) {
  .hero {
    background: none
  }
}


@media screen and (max-width: 720px) {
  .container{
    padding:10px;
  }

  .logo {
    margin: auto;
    max-width: 80px;
  }

  .hero {
    background: none;
    min-height: 1px;

    .content {
      p {
      width: 100%;
      margin-bottom: 20px;
      }
      .btn-primary{
        font-size: map-get($font-size, normal)
      }
    }

  }

  main{
    margin-top:0;

    .main-offer{
      .image{
        display:none;
      }
      .details{
        padding:0;

        h2,p{
          padding-left:15px;
        }
      }
    }
  }

  nav {

    position: relative;
    z-index:1;

    ul.main-nav{

      display:none;
      background: map-get($colors, primary);
      width:100%;
      margin:0;
      padding: 10px 5px;
      z-index:100;

      &.active {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        li{
          display:block;

          a{
            color: #fff;
            &.active{
              color: map-get($colors, secondary);
              border:none;
            }
            &:hover{
              border:none;
            }

            &.btn-primary{
              padding:0;
              font-size: map-get($font-size, normal)
            }
          }
        }
    }
  }

    .nav-toggle {
      display: block;
      position: absolute;
      top: 10px;
      right: 20px;
      cursor: pointer;
      color: map-get($colors, primary);
      font-size: 24px;

      &.active{
        color: #fff
      }
    }
  }

  section.suggestions{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .card {
      flex: 0 1 calc(50% - 1em);
      margin-bottom:15px;

      .card-footer{
        height:75px;
      }
    }
  }

  .login, .passwordRecovery, .passwordNew{
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top:100px;

    .form{
      width:100%;
    }
  }

}
