<app-logo></app-logo>
  <div class="contact">
    <div class="form  shadow">
      <h2>Contactez-nous</h2>
      <form>
        <p>Notre équipe vous répondra endéans 1 jour ouvrable</p>
        <mat-form-field class="full-width">
          <input matInput placeholder="Nom" value="" id="name" required>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Prénom" value="" id="firstname" required>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Email" value="" id="login" required>
        </mat-form-field>

        <mat-form-field class="full-width">
          <textarea matInput placeholder="Laissez-nous votre commentaire"></textarea>
        </mat-form-field>

        <button mat-flat-button color="primary">Envoyer</button>
      </form>
    </div>
</div>
