<div class="nav-toggle" id="js-navbar-toggle">
  <i class="fas fa-bars"></i>
</div>
<ul class="main-nav" id="js-menu">

  <li><a [routerLink]="['/home']" routerLinkActive="active">Accueil</a></li>
  <li><a [routerLink]="['/agency']" routerLinkActive="active">Notre agence</a></li>
  <li><a [routerLink]="['/fleet']" routerLinkActive="active">Notre flotte</a></li>
  <li><a [routerLink]="['./devis']" routerLinkActive="active">Demander un devis</a></li>
  <li><a [routerLink]="['#']" routerLinkActive="active">Contact</a></li>
  <li>
    <a *ngIf="!isLoggedIn" [routerLink]="['/login']" class="btn-primary">Se connecter</a>
    <a *ngIf="isLoggedIn" [routerLink]="['/client']" class="btn-primary">Espace client</a>
  </li>
</ul>
