<h1>Demande de devis</h1>
<form [formGroup]="form">
  <div class="devis">

    <div class="trajet">
      <h3>Départ</h3>

      <mat-form-field>
        <input  id="departureDate"
                formControlName="departureDate"
                matInput [matDatepicker]="pickerDepartureDate"
                placeholder="Date de départ">
        <mat-datepicker-toggle matSuffix [for]="pickerDepartureDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerDepartureDate></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input  id="departureTime"
                formControlName="departureTime"
                matInput [matDatepicker]="pickerDepartureTime"
                placeholder="Heure de départ">
        <mat-datepicker-toggle matSuffix [for]="pickerDepartureTime"></mat-datepicker-toggle>
        <mat-datepicker #pickerDepartureTime></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <textarea   id="departureStreet"
                    formControlName="departureStreet"
                    matInput
                    placeholder="Rue"></textarea>
      </mat-form-field>

      <div>
        <mat-form-field>
          <textarea id="departureNumber"
                    formControlName="departureNumber"
                    matInput
                    placeholder="Numéro"></textarea>
        </mat-form-field>

        <mat-form-field>
          <textarea id="departureBox"
                    formControlName="departureBox"
                    matInput
                    placeholder="Boîte"></textarea>
        </mat-form-field>
      </div>

      <mat-form-field>
        <textarea id="departureZip"
                  formControlName="departureZip"
                  matInput
                  placeholder="Code Postal"></textarea>
      </mat-form-field>

      <mat-form-field>
        <textarea id="departureCity"
                  formControlName="departureCity"
                  matInput
                  placeholder="Ville"></textarea>
      </mat-form-field>

      <mat-form-field>
        <textarea id="departureCountry"
                  formControlName="departureCountry"
                  matInput
                  placeholder="Pays"></textarea>
      </mat-form-field>

    </div>


    <div class="trajet">
      <h3>Retour</h3>

      <mat-form-field>
        <input  id="backDate"
                formControlName="backDate"
                matInput [matDatepicker]="pickerBackDate"
                placeholder="Date de retour">
        <mat-datepicker-toggle matSuffix [for]="pickerBackDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerBackDate></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input  id="backTime"
                formControlName="backTime"
                matInput [matDatepicker]="pickerBackTime"
                placeholder="Heure de retour">
        <mat-datepicker-toggle matSuffix [for]="pickerBackTime"></mat-datepicker-toggle>
        <mat-datepicker #pickerBackTime></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <textarea id="backStreet"
                  formControlName="backStreet"
                  matInput
                  placeholder="Rue"></textarea>
      </mat-form-field>

      <div>
        <mat-form-field>
          <textarea id="backNumber"
                    formControlName="backNumber"
                    matInput
                    placeholder="Numéro"></textarea>
        </mat-form-field>

        <mat-form-field>
          <textarea id="backBox"
                    formControlName="backBox"
                    matInput
                    placeholder="Boîte"></textarea>
        </mat-form-field>
      </div>

      <mat-form-field>
        <textarea id="backZip"
                  formControlName="backZip"
                  matInput
                  placeholder="Code Postal"></textarea>
      </mat-form-field>

      <mat-form-field>
        <textarea id="backCity"
                  formControlName="backCity"
                  matInput
                  placeholder="Ville"></textarea>
      </mat-form-field>

      <mat-form-field>
        <textarea id="backCountry"
                  formControlName="backCountry"
                  matInput
                  placeholder="Pays"></textarea>
      </mat-form-field>

    </div>
  </div>
</form>
