<app-logo></app-logo>
<div class="passwordRecovery">
  <div class="form shadow">
    <h2>Nouveau mot de passe</h2>
    <form>
      <mat-form-field class="full-width">
        <input matInput placeholder="Email" value="" id="password" required>
        <mat-hint>Le mot de passe doit se composer de 8 caractères minimum</mat-hint>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Mot de passe" value="" id="passwordconfirm" required>
      </mat-form-field>

      <button mat-flat-button color="primary">Confirmer</button>
    </form>
  </div>
</div>
