<app-logo></app-logo>
<div class="passwordRecovery">
  <div class="form shadow">
    <h2>Modification du mot de passe</h2>
    <form [formGroup]="formNewPassword">
      <mat-form-field class="full-width">
        <input matInput placeholder="Mot de passe" id="password" type="password" [formControl]="formNewPassword.controls['password']">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Nouveau mot de passe" id="newPassword" type="password" [formControl]="formNewPassword.controls['newPassword']">
        <mat-hint>Le mot de passe doit se composer de 8 caractères minimum</mat-hint>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Confirmation mot de passe" id="confirmNewPassword" type="password" [formControl]="formNewPassword.controls['confirmNewPassword']">
      </mat-form-field>

      <button mat-flat-button color="primary">Confirmer</button>
    </form>
  </div>
</div>
