<app-logo></app-logo>
<div class="fleet">

  <h1>25 Autocars 4 <span class="orange">****</span></h1>

  <div class="grid">
    <div class="grid-item shadow"><img src="/assets/images/fleet/1.png" /></div>
    <div class="grid-item shadow"><img src="/assets/images/fleet/1.png" /></div>
    <div class="grid-item shadow"><img src="/assets/images/fleet/1.png" /></div>
    <div class="grid-item shadow"><img src="/assets/images/fleet/1.png" /></div>
    <div class="grid-item shadow"><img src="/assets/images/fleet/1.png" /></div>
    <div class="grid-item shadow"><img src="/assets/images/fleet/1.png" /></div>
    <div class="grid-item shadow"><img src="/assets/images/fleet/1.png" /></div>
    <div class="grid-item shadow"><img src="/assets/images/fleet/1.png" /></div>
  </div>

</div>
