
html {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: map-get($colors, black);
  font-size: map-get($font-size, normal);
  background: #fff;
}

::selection {
  background: map-get($colors, secondary);
  color: white;
}

a {
  text-decoration: none
}

.container {
  background: #fff;
  margin: auto;
  max-width: 1200px;
  padding: 30px;
}

nav {
  display: flex;
  align-items: right;
  justify-content: right;

  .nav-toggle {
    display: none;
  }

  ul {
    margin-left: auto;
    padding: 0;
    margin-right: 15px;

    li {
      display: inline-block;
      margin: 10px;
      font-weight: 700;

      a {
        text-decoration: none;
        color: map-get($colors, primary);
        padding-bottom: 10px;
        transition: 0.1s;

        &.active {
          border-bottom: 6px solid map-get($colors, secondary)
        }

        &:hover {
          border-bottom: 6px solid map-get($colors, secondary)
        }

      }
    }
  }
}

footer {
  margin-top: 300px;
  font-size: map-get($font-size, small);
  color: map-get($colors, gray)
}
