.devis {
  // width: 100%;
  display: flex;
  justify-content: space-between;

  & > div {
    width: 100%;
  }

  .trajet {
    width: 45%;
    display: flex;
    flex-direction: column;
  }
}
.confirm {
  position: relative;
  button {
    position: absolute;
    right: 0;
  }
}



