form {
  width: 100%;
  margin: 0 auto;
  .firstScreen {
    width: 100%;
    .time {
      width: 100%;
    }
    .adress {
      display: flex;
      mat-form-field {
        width: 300px;
      }
      .number {
        display: flex;
        width: 300px;
      }
      #departureZip {
        width: 150px;
      }
    }
  }
}
.buttons {
  position: relative;
  button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 2px;
  }
}



