$colors : (primary: #3C40C6,
secondary: #FFC048,
black: #222f3e,
green: #1dd1a1,
red: #ee5253,
lightgray: #f1f2f6,
lightprimary: #575FCF);

$font-size : (biggest: 2em,
big: 1.6em,
normal: 1em,
small: 0.8em,
smaller: 0.6em);
